@using AppointmentScheduler.Presentation.Models.Enums
@{
    ViewData["Title"] = "Chỉnh sửa đặt lịch";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

@model AppointmentModel
<head>
    <title>Chỉnh sửa đơn đặt</title>
    <div layout:fragment="headerFiles">
        <link rel="stylesheet" type="text/css"
              href="~/css/customs/assets/light/apps/blog-post.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/assets/light/apps/ecommerce-create.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/plugins/light/table/datatable/dt-global_style.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/plugins/light/table/datatable/custom_dt_custom.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/assets/light/apps/blog-create.css">

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/customs/plugins/light/tomSelect/custom-tomSelect.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/customs/plugins/dark/tomSelect/custom-tomSelect.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/tomSelect/tom-select.default.min.css")">

        <style>
            #datatable thead th {
                font-weight: bold;
                background-color: #f8f9fa;
                color: #333;
            }

            #datatable tbody td {
                vertical-align: middle;
            }

            .table-container {
                overflow-x: auto;
            }

            .widget-content-area {
                padding: 20px !important;
            }
        </style>
    </div>
</head>
<body>
    <div layout:fragment="content">


        <div class="middle-content container-xxl p-0">

            <div class="d-flex justify-content-between mt-4 mb-2">
                <div>
                    <div class="d-flex align-items-start">
                        <h5 class="text-bold">
                            CHỈNH SỬA LỊCH ĐẶT
                            <span class="badge badge-dark" th:text="${booking.code}"></span>
                        </h5>
                    </div>

                </div>
                <div>
                    <iframe id="pdfFrame" style="display: none;"></iframe>
                    <a href="@Url.Action("Index", "Appointment")" class="btn">
                        Trở lại
                    </a>
                </div>
            </div>

            <div class="row mb-4 layout-spacing">
                <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Thông tin lịch đặt</h4>
                                </div>
                            </div>
                        </div>

                        <form asp-action="Edit" id="general-settings" method="POST">
                            <div class="widget-content widget-content-area blog-create-section">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <div class="form-group mb-4">
                                                <label for="profile">Tên hồ sơ<strong class="text-danger">*</strong></label>
                                                <select asp-for="Profile" id="profile"
                                                        class="form-control @(ViewData.ModelState["ProfileId"]?.Errors?.Count > 0 ? "is-invalid" : "")"
                                                        asp-items="ViewBag.Profiles"
                                                        onchange="loadProfileInfo(this.value)">
                                                    <option value="">Chọn</option>
                                                </select>
                                                <span asp-validation-for="Profile" class="invalid-feedback" role="alert"></span>
                                            </div>



                                            <div class="form-group mb-4">
                                                <label for="doctor">Tên bác sĩ<strong class="text-danger">*</strong></label>
                                                <select asp-for="Doctor" id="doctor"
                                                        class="form-control @(ViewData.ModelState["DoctorId"]?.Errors?.Count > 0 ? "is-invalid" : "")"
                                                        asp-items="ViewBag.Doctors"
                                                        onchange="loadDoctorInfo(this.value)">
                                                    <option value="">Chọn</option>
                                                </select>
                                                <span asp-validation-for="Doctor" class="invalid-feedback" role="alert"></span>
                                            </div>


                                            <div class="form-group mb-4">
                                                <label for="state">Trạng thái<strong class="text-danger">*</strong></label>
                                                <select asp-for="State" id="state"
                                                        class="form-control @(ViewData.ModelState["State"]?.Errors?.Count > 0 ? "is-invalid" : "")"
                                                        asp-items="Html.GetEnumSelectList<EAppointmentState>()">
                                                    <option value="">Chọn</option>
                                                </select>
                                                <span asp-validation-for="State" class="invalid-feedback" role="alert"></span>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-4">
                                                        <label for="date">Thời gian đặt<strong class="text-danger">*</strong></label>
                                                        <input asp-for="AtTime"
                                                               id="atTime"
                                                               placeholder="Chọn thời gian đặt"
                                                               type="datetime-local"
                                                               class="form-control @(ViewData.ModelState["AtTime"]?.Errors?.Count > 0 ? "is-invalid" : "")"
                                                               min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                                                        <span asp-validation-for="AtTime" class="invalid-feedback" role="alert"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="text-muted mb-4">!!! Vui lòng điền đầy đủ thông tin và ngày đặt trước khi hoàn tất.</p>

                                            <button type="submit" class="btn btn-primary">Hoàn tất</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>

                <div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-xxl-0 mt-4">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Thông tin hồ sơ:</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area blog-create-section" id="profile-info">
                            <div class="row">
                                <div class="col-xxl-12">
                                    <div class="d-flex">
                                        <p class="text-start me-1">Mã hồ sơ :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Mã bệnh nhân :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Họ tên :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Ngày sinh :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Giới tính :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="statbox widget box box-shadow mt-3">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Thông tin bác sĩ:</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content widget-content-area blog-create-section" id="doctor-info">
                            <div class="row">
                                <div class="col-xxl-12">
                                    <div class="d-flex">
                                        <p class="text-start me-1">Mã bác sĩ :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Tên :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Email :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Vị trí :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-start me-1">Chứng chỉ :</p>
                                        <b>
                                            <p class="text-dark text-bold"></p>
                                        </b>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <div layout:fragment="footerFiles">

        <script src="~/js/customs/assets/apps/blog-create.js"></script>
        <script src="~/plugins/table/datatable/datatables.js"></script>
        <script src="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js"></script>
        <script src="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js"></script>

        <script src="~/plugins/tomSelect/tom-select.base.js"></script>
        <script src="~/plugins/tomSelect/custom-tom-select.js"></script>

        <script src="~/js/doctor/create.js"></script>
        <script>
            $('#inventoryvoucher-table')
                .DataTable(
                    {
                        "dom": "<'table-responsive'tr>"
                            + "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>", // Xóa phần 'l' (length menu) và 'f' (search)
                        "oLanguage": {
                            "oPaginate": {
                                "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                                "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                            },
                            "sEmptyTable": "Chưa có dữ liệu",
                            "sInfo": "Đang hiển thị trang _PAGE_ của  _PAGES_",
                            "sZeroRecords": "Không có bản ghi nào trùng khớp",
                            "sLengthMenu": "Kết quả :  _MENU_",
                        },
                        "stripeClasses": [],
                        "lengthMenu": [7, 10, 20, 50],
                        "pageLength": 10,
                        "ordering": false
                    });


        </script>


        <script type="text/javascript">
            //Tom select
            new TomSelect("#doctor", {
                create: true,
                sortField: {
                    field: "text",
                    direction: "asc"
                }
            });

            new TomSelect("#profile", {
                create: true,
                sortField: {
                    field: "text",
                    direction: "asc"
                }
            });

            new TomSelect("#state", {
                create: true,
                sortField: {
                    field: "text"
                }
            });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const selectedDoctorId = '@ViewBag.SelectedDoctorId';
                const selectedProfileId = '@ViewBag.SelectedProfileId';

                if (selectedDoctorId) {
                    loadDoctorInfo(selectedDoctorId);
                    document.querySelector('#doctor').value = selectedDoctorId; // Chọn giá trị mặc định
                }

                if (selectedProfileId) {
                    loadProfileInfo(selectedProfileId);
                    document.querySelector('#profile').value = selectedProfileId; // Chọn giá trị mặc định
                }
            });
        </script>
    </div>
    <!--  END CUSTOM SCRIPTS FILE  -->
</body>