@{
    ViewData["Title"] = "Chỉnh sửa Người Dùng";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

@model UserModel

<div>
    <!-- BREADCRUMB -->
    <div class="page-meta">
        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Người dùng</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "User")">Quản lý người dùng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa người dùng</li>
            </ol>
        </nav>
    </div>
    <!-- /BREADCRUMB -->

    <div class="layout-top-spacing col-12">
        <a href="@Url.Action("Index", "User")" class="btn">
            Trở lại
        </a>
    </div>

    <div class="row layout-top-spacing">
        <div id="user-management" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Chỉnh sửa</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="col-12">
                        <form asp-action="Edit" method="POST" id="general-settings">
                            <input type="hidden" asp-for="Id" />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="FullName">Tên người dùng <strong class="text-danger">*</strong></label>
                                        <input asp-for="FullName"
                                               type="text"
                                               id="FullName"
                                               class="form-control @(ViewData.ModelState["FullName"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                               placeholder="Tên người dùng">
                                        <span asp-validation-for="FullName" class="invalid-feedback" role="alert"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="UserName">Username <strong class="text-danger">*</strong></label>
                                        <input asp-for="UserName"
                                               type="text"
                                               id="UserName"
                                               class="form-control @(ViewData.ModelState["UserName"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                               placeholder="Username">
                                        <span asp-validation-for="UserName" class="invalid-feedback" role="alert"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="Password">Mật khẩu <strong class="text-danger">*</strong></label>
                                        <input asp-for="Password"
                                               type="password"
                                               id="Password"
                                               class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                               placeholder="Mật khẩu">
                                        <span asp-validation-for="Password" class="invalid-feedback" role="alert"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="Gender">Giới tính <strong class="text-danger">*</strong></label>
                                        <select asp-for="Gender" class="form-control @(ViewData.ModelState["Gender"]?.Errors.Count > 0 ? "is-invalid" : "")">
                                            <option value="">Chọn giới tính</option>
                                            <option value="M" selected="@((Model.Gender == 'M') ? "selected" : "")">Nam</option>
                                            <option value="F" selected="@((Model.Gender == 'F') ? "selected" : "")">Nữ</option>
                                        </select>

                                        <span asp-validation-for="Gender" class="invalid-feedback" role="alert"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label for="Address">Địa chỉ <strong class="text-danger">*</strong></label>
                                <input asp-for="Address"
                                       type="text"
                                       id="Address"
                                       class="form-control @(ViewData.ModelState["Address"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                       placeholder="Địa chỉ">
                                <span asp-validation-for="Address" class="invalid-feedback" role="alert"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label for="RoleId">Vai trò <strong class="text-danger">*</strong></label>
                                <select asp-for="RoleId" class="form-control @(ViewData.ModelState["RoleId"]?.Errors.Count > 0 ? "is-invalid" : "")">
                                    <option value="">Chọn vai trò</option>
                                    <option value="1" selected="@((Model.RoleId == 1) ? "selected" : "")">Khách hàng</option>
                                    <option value="2" selected="@((Model.RoleId == 2) ? "selected" : "")">Bác sĩ</option>
                                </select>

                                <span asp-validation-for="RoleId" class="invalid-feedback" role="alert"></span>
                            </div>

                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
