@using AppointmentScheduler.Presentation.Models.Enums
@{
    ViewData["Title"] = "Thêm mới dịch vụ chuẩn đoán";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

@model DiagnosticSerModel
<head>
    <div layout:fragment="headerFiles">
        <link rel="stylesheet" type="text/css"
              href="~/css/customs/assets/light/apps/blog-post.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/assets/light/apps/ecommerce-create.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css">
        <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/plugins/light/table/datatable/dt-global_style.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/plugins/light/table/datatable/custom_dt_custom.css">

        <link rel="stylesheet" type="text/css" href="~/css/customs/assets/light/apps/blog-create.css">

        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/customs/plugins/light/tomSelect/custom-tomSelect.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/customs/plugins/dark/tomSelect/custom-tomSelect.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/tomSelect/tom-select.default.min.css")">

        <style>
            #datatable thead th {
                font-weight: bold;
                background-color: #f8f9fa;
                color: #333;
            }

            #datatable tbody td {
                vertical-align: middle;
            }

            .table-container {
                overflow-x: auto;
            }

            .widget-content-area {
                padding: 20px !important;
            }
        </style>
    </div>
</head>
<body>
    <div layout:fragment="content">


        <div class="middle-content container-xxl p-0">

            <div class="d-flex justify-content-between mt-4 mb-2">
                <div>
                    <div class="d-flex align-items-start">
                        <h5 class="text-bold">
                            THÊM MỚI DỊCH VỤ CHUẨN ĐOÁN
                            <span class="badge badge-dark"></span>
                        </h5>
                    </div>

                </div>
                <div>
                    <iframe id="pdfFrame" style="display: none;"></iframe>
                    <a href="@Url.Action("Index", "DiagnosticService")" class="btn">
                        Trở lại
                    </a>
                </div>
            </div>

            <div class="row mb-4 layout-spacing">
                <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Thông tin dịch vụ chuẩn đoán</h4>
                                </div>
                            </div>
                        </div>

                        <form asp-action="Edit" method="POST" id="general-settings">
                            <div class="widget-content widget-content-area blog-create-section">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-12">
                                            <div class="form-group mb-4">
                                                <label for="name">Tên dịch vụ chuẩn đoán<strong class="text-danger">*</strong></label>
                                                <input asp-for="Name"
                                                       type="text"
                                                       id="name"
                                                       class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                                       placeholder="Tên dịch vụ chuẩn đoán">
                                                <span asp-validation-for="Name" class="invalid-feedback" role="alert"></span>
                                            </div>
                                            <div class="form-group mb-4">
                                                <label for="price">Giá<strong class="text-danger">*</strong></label>
                                                <input asp-for="Price"
                                                       type="number"
                                                       id="price"
                                                       class="form-control @(ViewData.ModelState["Price"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                                       placeholder="Giá dịch vụ chuẩn đoán"
                                                       step="0.1"
                                                       min="0">
                                                <span asp-validation-for="Price" class="invalid-feedback" role="alert"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary">Hoàn tất</button>
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </div>
    </div>

    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <div layout:fragment="footerFiles">

        <script src="~/js/customs/assets/apps/blog-create.js"></script>
        <script src="~/plugins/table/datatable/datatables.js"></script>
        <script src="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js"></script>
        <script src="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js"></script>

        <script src="~/plugins/tomSelect/tom-select.base.js"></script>
        <script src="~/plugins/tomSelect/custom-tom-select.js"></script>
        <script src="~/js/profile/create.js"></script>


    </div>
    <!--  END CUSTOM SCRIPTS FILE  -->
</body>